# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

backend/venv
backend/venv/*
backend/venv/

backend/apiki/migrations/*
backend/src/migrations/*


backend/apiki/__pycache__/*.cpython-312.pyc
backend/src/__pycache__/*.cpython-312.pyc


backend/apiki/__pycache__/*.cpython-310.pyc
backend/src/__pycache__/*.cpython-310.pyc

backend/db.sqlite3